@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;800&display=swap');


body {
    direction: rtl;
    background-color: #fefbf5;
    font-family: 'Assistant', sans-serif;
    width: 1280px;
    margin: 0 auto;
}

#container {
    padding: 0 25px;
}

h1, h2, h3, h4 {
    color: #4a3065;
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 3vw;
    margin-bottom: 0;
    margin-top:30px;
}

h1 span {
    font-size: 1.5vw;
    font-weight: 400; 
    display: block;
    margin-top: 10px;
    color: #333;
}

h2 {
    font-weight: 600;
    font-size: 1.5vw;
    color: #4a3065;
    text-align: center;
}

h3 {
    font-weight: 600; 
    font-size: 1.5vw;
    color: #4a3065;
}

h4 {
    font-weight: 600;
    font-size: 1.2vw;
}

nav > ul {
    list-style: none;
    width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

nav > ul > li {
    position: relative;
}

nav > ul > li > a {
    display: block;
    padding: 10px 15px;
    background: transparent;
    color: #4a3065;
    text-decoration: none;
    border-radius: 6px;/* על מנת לייצר עיגול פינות */
    font-weight: 600;
    transition: color .15s;
    font-size: 1.1vw;
}

nav > ul > li > a:hover {
    color: #fe5374;
}

a.navNoActive:hover{
    color: #4a3065;
    opacity: 0.55;
    cursor: not-allowed;
}

#logo img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 130px;
}

.innerNav {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #cfc5d2;
    width:125px;
}
nav > ul > li:hover > .innerNav {
    display: block;
}

.innerNav > li > a {
    display: block;
    color: #1f2937;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 6px;
    font-weight: 600;
    transition: transform .05s, filter .15s;
    font-size: 1vw;
}

a.noActive, a.navNoActive, .icon-itemnoActive{
    opacity: .55; 
    cursor: not-allowed;
}

.breadCrumbs {
    font-size: .95vw;
    margin-right: 100px;
}

.breadCrumbs li {
    display: inline;
    font-size: 0.95vw;
    list-style: none;
    padding: 0;
    gap: 8px;
}

.breadCrumbs li a {
    color: #2aa198;
    text-decoration: none;
    transition: color .15s;
}

.breadCrumbs li a:hover {
    text-decoration: underline;
}

.breadCrumbs li + li:before {
    content: " > ";
    padding: 0 8px;
    color: #94a3b8;
}

.breadCrumbs [aria-current="page"] { /* הגדלת משקל הפונט בעמוד הנוכחי בפירורי לחם*/
    font-weight: 650;
}

.page-content {
    padding-top: 80px;
    padding-bottom: 70px;
}

.action-button {
    display: inline-block;
    padding: 12px 28px;
    font-size: 1.25vw;
    font-weight: 700;
    color: #fff;
    background-color: #fe5374;
    text-align: center;
    text-decoration: none;
    border: none;
    transition: background-color 0.2s;
    cursor: pointer;
    width: 120px;
    margin: 0 auto;
    align-items: center;
    border-radius: 12px;
}

.action-button:hover {
    background-color: #e44a67;
}

.centered-image, .centered-imagehome-image {
    display: block;
    margin-right: 430px;
    max-width: 100%;
    height: auto;
}

.home-image, .centered-imagehome-image{
    width: 350px;
    height: auto;
}

.choice-image {
    width: 500px;
    height: auto;
}

.home-call-to-action, .choice-buttons {
    text-align: center;
}

#startText {
    font-size: 1.5vw;
    margin-bottom: 10px;
}

.choice-buttons .action-button {
    margin: 0 15px;
}

.budget ul, .dress-code ul, .prep ul, .tips ul {
    padding-right: 40px;
    font-size:1.2vw;
}

.icon-grid {
    display: flex; /*  מסדר את הפריטים בשורה אחת באופן גמיש*/
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    align-items: center;
}

.icon-item, .icon-itemnoActive {
    display: inline-block;
    width: 200px;
    text-decoration: none;
    color: #4a3065;
    margin: 15px;
    font-size: 10vw;
    text-align: center;
}

.icon-item img {
    width: 70%;
    height: auto;
    border: 3px solid transparent;
    transition: border-color 0.3s;
}

.icon-itemnoActive img{
    width: 70%;
    height: auto;
    cursor: not-allowed;
}

.icon-item:hover img {
    border-color: #fe5374;
}

.icon-item h3, .icon-itemnoActive h3{
    margin-top: 20px;
    font-size: 1.3vw;
}

.site-map, .site-map ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-map > li {
    line-height: 0; /* משפיע על גודל הקוביות במפת האתר */
}

.site-map {
    display: flex;
    gap: 18px;
    justify-content: center;
    margin-top: 40px;
}

.site-map > li > ul {
    display: flex;
    flex-direction: column; /* במקום לסדר את האלמנטים בשורה אופקית, פקודה זו מסדרת אותם בעמודה אנכית כלומר, אחד מתחת לשני */
}

.site-map a {
    display: block;
    background: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    font-size: 1.1vw;
    font-weight: 500;
    color: #4a3065;
    text-decoration: none;
}
.site-map a:hover {
    background: #fef0f3;
    border-color: #fe5374;
    color: #fe5374;
}

a.main{
    font-weight: 610;
}

.team-profiles {
    text-align: center;
}

.profile-card {
    display: inline-block;
    margin: 0 25px;
    text-align: center;
}

.profile-img {
    width: 100%;
    height: auto;
    max-width: 130px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-card h4 {
    margin-top: 10px;
    color: #4a3065;
}

.descriptionabuot{
    line-height: 170%;
    text-align: center;
    margin:30px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

form div, fieldset {
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="date"], textarea {
    width: 99%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Assistant', sans-serif;
    font-size: 1vw;
    padding-bottom: 8px;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

legend {
    font-weight: 600;
    padding: 0 10px;
}

div > label > span, legend>span {
    color: red;
    font-size: 1.2vw;
    font-weight: bold;
}

.date-layout {
    background: #cfc5d2;
    padding: 28px;
    font-size: 0;
    border-radius: 8px;
}

.budget, .dress-code, .tips, .prep {
    display: inline-block;
    width: 48%;
    height: 250px;
    margin: 1%;
    vertical-align: top;/* תכונה שמגדירה יישור אנכי של רכיבים פר שורה */
    background: #faf8f4;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.date-layout .links {
    display: block;
    font-weight: 600;
    margin-top: 8px;
}

footer {
    text-align: center;
    position: relative;
    background-image: url("../Images/Logo and main images/FooterImage.png");/*על מנת שהכיתוב של הפוטר יהיה בין העצים, שתלנו אותה כרקע דרך הCSS */
    background-position: center bottom;
    background-size: 100% auto;
    margin-top: 230px;
    padding-bottom: max(350px, min(18vw, 450px));/* שימוש ב-max/min כמחליף ל-clamp:
   פקודה זו מבטיחה שהפדינג התחתון לעולם לא יירד מתחת ל-350 פיקסלים. אם 18% מרוחב המסך (עד 450px) קטן מ-350px, הדפדפן בוחר ב-350px
    */
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #4a3065;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#HITlogo {
    width: 100%;
    height: auto;
    max-width: 150px;
    display: block;
    margin: 15px auto 0;
}

#send{
margin-right: 220px;
}

#aboutMap{
    width: fit-content; /* מצמצם את הקובייה לרוחב הטקסט */
    padding: 12px 16px;
    border: 1px solid #ccc;        
    border-radius: 8px;
    list-style: none;
    font-weight: normal;
    margin-right: 530px;
}

#aboutMap a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}


